{% extends "_base.html" %}
{% block content %}
<h1>Cambiar contraseña</h1>
<div class="card" style="max-width:520px">
  <form method="post">
    <label>Contraseña actual</label>
    <input type="password" name="current" required>
    <div style="height:10px"></div>
    <label>Nueva contraseña</label>
    <input type="password" name="new" required minlength="4">
    <div style="height:10px"></div>
    <label>Repetir nueva contraseña</label>
    <input type="password" name="new2" required minlength="4">
    <div style="height:14px"></div>
    <button class="btn ok" type="submit">Actualizar</button>
  </form>
</div>
{% endblock %}
